<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Local" value="C:\Projects\Components\NuGetPackages" />
  </packageSources>
  <config>
    <add key="repositoryPath" value="C:\Projects\Components\NuGetPackages" />
  </config>
</configuration>