<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iron.Assets.Rendering.Windows" version="20.0.0" targetFramework="net471" />
  <package id="IronPdf" version="2021.3.1" targetFramework="net471" />
  <package id="IronPdf.Assets.Rendering.Windows" version="22.0.0" targetFramework="net471" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net471" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net471" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net471" />
  <package id="Selenium.WebDriver.ChromeDriver" version="89.0.4389.2300" targetFramework="net471" />
  <package id="Syncfusion.HtmlToPdfConverter.QtWebKit.Net.Core" version="19.1.0.54" targetFramework="net471" />
</packages>