<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iron.Assets.Rendering.Windows" version="18.0.1" targetFramework="net471" />
  <package id="IronPdf" version="2020.3.2" targetFramework="net471" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net471" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net471" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net471" />
  <package id="Syncfusion.HtmlToPdfConverter.QtWebKit.Net.Core" version="18.1.0.52" targetFramework="net471" />
</packages>