<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DV_ReportAnalytics.App.Management.EPTConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DV_ReportAnalytics.App.Management.EPTConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DV_ReportAnalytics.App.Management.EPTConfig>
            <setting name="ReportName" serializeAs="String">
                <value>EPT Report Results</value>
            </setting>
            <setting name="InputSheetName" serializeAs="String">
                <value>Results</value>
            </setting>
            <setting name="OutputSheetName" serializeAs="String">
                <value>CombinedResults</value>
            </setting>
            <setting name="Parameter" serializeAs="String">
                <value>Name_Speed_Torque</value>
            </setting>
            <setting name="Delimiter" serializeAs="String">
                <value>_</value>
            </setting>
            <setting name="ParameterColumn" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="ValueColumn" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="RowInterpolation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnInterpolation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaximumItemsPerRow" serializeAs="String">
                <value>2</value>
            </setting>
        </DV_ReportAnalytics.App.Management.EPTConfig>
    </userSettings>
    <applicationSettings>
        <DV_ReportAnalytics.App.Management.EPTConfig>
            <setting name="ReportType" serializeAs="String">
                <value>EPTReport</value>
            </setting>
        </DV_ReportAnalytics.App.Management.EPTConfig>
    </applicationSettings>
</configuration>